<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template_wrapper :: start"></div>
   
   
   
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>CRM</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    
    <section class="content">
      <div class="container-fluid">
      Property CRM V1
      </div>
    </section>
    
	
	  			
<div th:replace="template_wrapper :: end"></div>
	  	