<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="template_wrapper :: start"></div>


<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  
      
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Inquiry Form</h3>
              </div>
               <form action="#" th:action="@{/inquiry_form/add}" th:object="${inputform}" method="post">
                <div class="card-body row">
                  
                  <div class="form-group col-6">
                    <label>Buyer Name</label>
                    <input required type="text" th:field="*{customerName}" class="form-control" id="customerName" placeholder="Enter Full Name"> 
                    <span th:errors="*{customerName}" class="text-danger">
                    Invalid
                    </span>
                  </div>
                  
                  <div class="form-group col-6">
                    <label>Mobile Number</label>
                    <input required type="number" th:field="*{mobileNumber}" class="form-control" id="mobileNumber" placeholder="Enter Mobile Number"> 
                    <span th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" class="text-danger">
                    </span>
                  </div>
                  
                   <div class="form-group col-4">
                    <label>Address</label>
                    <textarea class="form-control" rows="3" th:field="*{address}" id="address" placeholder="Enter Full Address"></textarea>
                     <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">
                    </span>
                  </div>
                 
                 
                 <div class="form-group col-4">
                  <label>Looking For</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" value="Self Use" name="lookingFor" th:field="*{lookingFor}" id="lookingFor1">
                          <label class="form-check-label">Self Use</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" value="Investment" name="lookingFor" th:field="*{lookingFor}" id="lookingFor2">
                          <label class="form-check-label">Investment</label>
                        </div>
                      </div>
                 
                 
                 <div class="col-sm-4">
                  <label>Configuration</label>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="1RK" th:field="*{configuration}">
                          <label for="customCheckbox1" class="custom-control-label">1RK</label>
                        </div>
                         <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="1BHK" th:field="*{configuration}">
                          <label for="customCheckbox2" class="custom-control-label">1BHK</label>
                        </div>
                         <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="2BHK" th:field="*{configuration}">
                          <label for="customCheckbox3" class="custom-control-label">2BHK</label>
                        </div>
                         <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="3BHK" th:field="*{configuration}">
                          <label for="customCheckbox4" class="custom-control-label">3BHK</label>
                        </div>
                      </div>
                    </div>
                    
                    
                     <div class="form-group col-6">
	                    <label>Budget</label>
	                    <input type="number" class="form-control" th:field="*{budget}" id="budget" placeholder="Enter Budget">
	                  </div>
	                  
	                   <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label>Reference From</label>
                        <select class="custom-select" th:field="*{referenceFrom}" id="referenceFrom">
                         <option value="Other">Other</option>
                          <option value="News Paper">News Paper</option>
                          <option value="Social Media">Social Media</option>
                          <option value="Friends/Relatives">Friends/Relatives</option>
                        </select>
                      </div>
                    </div>
                  
                <div class="form-group col-12">
                <div th:if="${message}" class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h5 th:text="${stauts}">Alert!</h5><i class="icon fas fa-check"></i> 
                  <i th:text="${message}"></i>
                </div>  
                </div>
                  

				
                <div class="card-footer col-12">
                  <span class="float-right">
                  <button type="reset" class="btn btn-danger">Reset</button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" class="btn btn-primary">Submit</button> 
                  </span>
                </div>
                
              </form>
            </div> 			
	  			
	
	  			
<div th:replace="template_wrapper :: end"></div>
	  	